.vs
.vscode
*.exe
programmy.code-workspace
test*.cpp
test*.py
compile.bat
oi/
.gitignore
.cph
*.bin

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
